@mixin adjust-top( $font-size, $line-height: false ) {
  position: relative;
  @if $line-height == false {
    $line-height: lines-for-font-size($font-size);
  }
  top: ( 24px * $line-height - $font-size ) / 2;
}

// 設定 h1 – h6, p 邊界為 0
#{headings()},
p {
  margin: 0;
  font-weight: normal;
}

h1 {
  $font-size: 32px;
  @include adjust-font-size-to($font-size);
  @include adjust-top($font-size);
}

h2 {
  $font-size: 20px;
  @include adjust-font-size-to($font-size);
  @include leader(1, $font-size);
  @include trailer(1, $font-size);
  @include adjust-top($font-size);
}

p {
  $font-size: 15px;
  @include adjust-font-size-to($font-size);
  @include trailer(1, $font-size);
  @include adjust-top($font-size);
}
