@import "baseline";

a {
  @include unstyled-link;
  @include link-colors(#a00);
}

// 設定 h1 – h6, p 邊界為 0
#{headings()},
p {
  margin: 0;
  font-weight: normal;
}

h1 {
  $font-size: 24px;
  @include baseline-font-size($font-size, 1);
  @include trailer(1, $font-size);
}

h2 {
  $font-size: 20px;
  @include baseline-font-size($font-size);
}

small {
  display: block;
  $font-size: 12px;
  @include baseline-font-size($font-size);
  @include trailer(1, $font-size);
  opacity: .5;
}

p {
  color: #444;
  $font-size: 15px;
  @include baseline-font-size($font-size);
  @include trailer(1, $font-size);
}

.header p {
  margin: 0;
}

$i: 0;
@each $font-size in 11px, 12px, 14px, 16px, 18px, 24px, 28px, 32px {
  .font-scale-#{$i} {
    @include adjust-font-size-to($font-size);
    @include trailer(1, $font-size);
    @include move-to-baseline($font-size);
    &:before {
      content: "#{$font-size} ";
    }
  }
  $i: $i + 1;
}
