meta content="SUSY 格線系統與行距垂直節奏" property="og:title"
meta content="使用 fire.app 學習 SUSY 格線系統與行距垂直節奏" property="og:description"
meta content="http://evenwu.github.com/fireapp-susy-demo/" property="og:url"
meta content="http://evenwu.github.com/fireapp-susy-demo/images/fb.png" property="og:image"
meta content="evenwu's github" property="og:site_name"
