meta   property="og:image"        content="#{data["site-url"]}images/fb.png"
meta   property="og:title"        content="#{data["site-title"]}"
meta   property="og:site_name"    content="#{data["site-name"]}"
meta   property="og:description"  content="#{data["site-description"]}"
meta   property="og:url"          content="#{data["site-url"]}"
