- paragraph = lorem_paragraphs 2
- zh_paragraph = zh_lorem_paragraphs 2

.header
  h1= link_to "SUSY 彈性格線系統與基線垂直節奏", "https://github.com/evenwu/fireapp-susy-demo"
  p 試著縮放瀏覽器寬度、字體大小，永遠都能對齊。滑鼠移開視窗可以隱藏格線。
  small chrome 的背景格線有誤，但不影響排版。
  - 8.times do |n|
    div class="font-scale-#{n}" 永東茶國邊機

.columns
  - 6.times do |n|
    .column
      h2= "第 #{n+1} 欄"
      p= paragraph
      p= zh_paragraph
