body {
  font-family: sans-serif;
  vertical-align: baseline; }

* html {
  font-size: 100%; }

html {
  font-size: 16px;
  line-height: 1.5em; }

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #aa0000; }
  a:active, a:focus {
    outline: none; }

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  font-weight: normal; }

h1 {
  font-size: 1.5em;
  line-height: 1em;
  position: relative;
  top: 0.162em;
  margin-bottom: 1em; }

h2 {
  font-size: 1.25em;
  line-height: 1.2em;
  position: relative;
  top: 0.26em; }

small {
  display: block;
  font-size: 0.75em;
  line-height: 2em;
  position: relative;
  top: 0.656em;
  margin-bottom: 2em;
  opacity: .5; }

p {
  color: #444;
  font-size: 0.9375em;
  line-height: 1.6em;
  position: relative;
  top: 0.4575em;
  margin-bottom: 1.6em; }

.header p {
  margin: 0; }

.font-scale-0 {
  font-size: 0.6875em;
  line-height: 2.18182em;
  margin-bottom: 2.18182em;
  position: relative;
  top: 0.74641em; }
  .font-scale-0:before {
    content: "11px "; }

.font-scale-1 {
  font-size: 0.75em;
  line-height: 2em;
  margin-bottom: 2em;
  position: relative;
  top: 0.656em; }
  .font-scale-1:before {
    content: "12px "; }

.font-scale-2 {
  font-size: 0.875em;
  line-height: 1.71429em;
  margin-bottom: 1.71429em;
  position: relative;
  top: 0.51414em; }
  .font-scale-2:before {
    content: "14px "; }

.font-scale-3 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  position: relative;
  top: 0.408em; }
  .font-scale-3:before {
    content: "16px "; }

.font-scale-4 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin-bottom: 1.33333em;
  position: relative;
  top: 0.32567em; }
  .font-scale-4:before {
    content: "18px "; }

.font-scale-5 {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 1em;
  position: relative;
  top: 0.662em; }
  .font-scale-5:before {
    content: "24px "; }

.font-scale-6 {
  font-size: 1.75em;
  line-height: 1.71429em;
  margin-bottom: 0.85714em;
  position: relative;
  top: 0.52114em; }
  .font-scale-6:before {
    content: "28px "; }

.font-scale-7 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
  position: relative;
  top: 0.416em; }
  .font-scale-7:before {
    content: "32px "; }

body {
  background: #d9dfd1;
  margin: 0;
  padding: 0; }

.page {
  max-width: 31em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  .page:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 641px) {
    .page {
      max-width: 50.5em; } }
  @media (min-width: 941px) {
    .page {
      max-width: 76.5em; } }
  .page:after {
    content: "";
    display: table;
    clear: both; }

.header {
  padding-top: 1.5em; }

.columns {
  margin-top: 1.5em; }

@media (min-width: 641px) {
  .column {
    width: 48.51485%;
    float: left;
    margin-right: 2.9703%; }
    .column:nth-child(2n) {
      float: right;
      margin-right: 0; } }
@media (min-width: 941px) {
  .header {
    width: 23.52941%;
    float: left;
    margin-right: 1.96078%; }
    .header [class^=font-scale-] {
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }

  .columns {
    width: 74.5098%;
    float: right;
    margin-right: 0; }

  .column {
    width: 31.57895%;
    float: left;
    margin-right: 2.63158%; }
    .column:nth-child(2n) {
      float: left;
      margin-right: 2.63158%; }
    .column:nth-child(3n) {
      float: right;
      margin-right: 0; } }
body:hover {
  /* debug background grid */
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 154, 142, 0.3)), color-stop(5%, rgba(0, 154, 142, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  -webkit-background-size: 100% 1.5em;
  -moz-background-size: 100% 1.5em;
  -o-background-size: 100% 1.5em;
  background-size: 100% 1.5em;
  background-position: left top; }
  body:hover .page {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(241, 90, 20, 0.2)), color-stop(16.12903%, rgba(241, 90, 20, 0.2)), color-stop(16.12903%, rgba(0, 0, 0, 0)), color-stop(20.96774%, rgba(0, 0, 0, 0)), color-stop(20.96774%, rgba(241, 90, 20, 0.2)), color-stop(37.09677%, rgba(241, 90, 20, 0.2)), color-stop(37.09677%, rgba(0, 0, 0, 0)), color-stop(41.93548%, rgba(0, 0, 0, 0)), color-stop(41.93548%, rgba(241, 90, 20, 0.2)), color-stop(58.06452%, rgba(241, 90, 20, 0.2)), color-stop(58.06452%, rgba(0, 0, 0, 0)), color-stop(62.90323%, rgba(0, 0, 0, 0)), color-stop(62.90323%, rgba(241, 90, 20, 0.2)), color-stop(79.03226%, rgba(241, 90, 20, 0.2)), color-stop(79.03226%, rgba(0, 0, 0, 0)), color-stop(83.87097%, rgba(0, 0, 0, 0)), color-stop(83.87097%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 16.12903%, rgba(0, 0, 0, 0) 16.12903%, rgba(0, 0, 0, 0) 20.96774%, rgba(241, 90, 20, 0.2) 20.96774%, rgba(241, 90, 20, 0.2) 37.09677%, rgba(0, 0, 0, 0) 37.09677%, rgba(0, 0, 0, 0) 41.93548%, rgba(241, 90, 20, 0.2) 41.93548%, rgba(241, 90, 20, 0.2) 58.06452%, rgba(0, 0, 0, 0) 58.06452%, rgba(0, 0, 0, 0) 62.90323%, rgba(241, 90, 20, 0.2) 62.90323%, rgba(241, 90, 20, 0.2) 79.03226%, rgba(0, 0, 0, 0) 79.03226%, rgba(0, 0, 0, 0) 83.87097%, rgba(241, 90, 20, 0.2) 83.87097%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 16.12903%, rgba(0, 0, 0, 0) 16.12903%, rgba(0, 0, 0, 0) 20.96774%, rgba(241, 90, 20, 0.2) 20.96774%, rgba(241, 90, 20, 0.2) 37.09677%, rgba(0, 0, 0, 0) 37.09677%, rgba(0, 0, 0, 0) 41.93548%, rgba(241, 90, 20, 0.2) 41.93548%, rgba(241, 90, 20, 0.2) 58.06452%, rgba(0, 0, 0, 0) 58.06452%, rgba(0, 0, 0, 0) 62.90323%, rgba(241, 90, 20, 0.2) 62.90323%, rgba(241, 90, 20, 0.2) 79.03226%, rgba(0, 0, 0, 0) 79.03226%, rgba(0, 0, 0, 0) 83.87097%, rgba(241, 90, 20, 0.2) 83.87097%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 16.12903%, rgba(0, 0, 0, 0) 16.12903%, rgba(0, 0, 0, 0) 20.96774%, rgba(241, 90, 20, 0.2) 20.96774%, rgba(241, 90, 20, 0.2) 37.09677%, rgba(0, 0, 0, 0) 37.09677%, rgba(0, 0, 0, 0) 41.93548%, rgba(241, 90, 20, 0.2) 41.93548%, rgba(241, 90, 20, 0.2) 58.06452%, rgba(0, 0, 0, 0) 58.06452%, rgba(0, 0, 0, 0) 62.90323%, rgba(241, 90, 20, 0.2) 62.90323%, rgba(241, 90, 20, 0.2) 79.03226%, rgba(0, 0, 0, 0) 79.03226%, rgba(0, 0, 0, 0) 83.87097%, rgba(241, 90, 20, 0.2) 83.87097%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 16.12903%, rgba(0, 0, 0, 0) 16.12903%, rgba(0, 0, 0, 0) 20.96774%, rgba(241, 90, 20, 0.2) 20.96774%, rgba(241, 90, 20, 0.2) 37.09677%, rgba(0, 0, 0, 0) 37.09677%, rgba(0, 0, 0, 0) 41.93548%, rgba(241, 90, 20, 0.2) 41.93548%, rgba(241, 90, 20, 0.2) 58.06452%, rgba(0, 0, 0, 0) 58.06452%, rgba(0, 0, 0, 0) 62.90323%, rgba(241, 90, 20, 0.2) 62.90323%, rgba(241, 90, 20, 0.2) 79.03226%, rgba(0, 0, 0, 0) 79.03226%, rgba(0, 0, 0, 0) 83.87097%, rgba(241, 90, 20, 0.2) 83.87097%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box; }
    @media (min-width: 641px) {
      body:hover .page {
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(241, 90, 20, 0.2)), color-stop(9.90099%, rgba(241, 90, 20, 0.2)), color-stop(9.90099%, rgba(0, 0, 0, 0)), color-stop(12.87129%, rgba(0, 0, 0, 0)), color-stop(12.87129%, rgba(241, 90, 20, 0.2)), color-stop(22.77228%, rgba(241, 90, 20, 0.2)), color-stop(22.77228%, rgba(0, 0, 0, 0)), color-stop(25.74257%, rgba(0, 0, 0, 0)), color-stop(25.74257%, rgba(241, 90, 20, 0.2)), color-stop(35.64356%, rgba(241, 90, 20, 0.2)), color-stop(35.64356%, rgba(0, 0, 0, 0)), color-stop(38.61386%, rgba(0, 0, 0, 0)), color-stop(38.61386%, rgba(241, 90, 20, 0.2)), color-stop(48.51485%, rgba(241, 90, 20, 0.2)), color-stop(48.51485%, rgba(0, 0, 0, 0)), color-stop(51.48515%, rgba(0, 0, 0, 0)), color-stop(51.48515%, rgba(241, 90, 20, 0.2)), color-stop(61.38614%, rgba(241, 90, 20, 0.2)), color-stop(61.38614%, rgba(0, 0, 0, 0)), color-stop(64.35644%, rgba(0, 0, 0, 0)), color-stop(64.35644%, rgba(241, 90, 20, 0.2)), color-stop(74.25743%, rgba(241, 90, 20, 0.2)), color-stop(74.25743%, rgba(0, 0, 0, 0)), color-stop(77.22772%, rgba(0, 0, 0, 0)), color-stop(77.22772%, rgba(241, 90, 20, 0.2)), color-stop(87.12871%, rgba(241, 90, 20, 0.2)), color-stop(87.12871%, rgba(0, 0, 0, 0)), color-stop(90.09901%, rgba(0, 0, 0, 0)), color-stop(90.09901%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 9.90099%, rgba(0, 0, 0, 0) 9.90099%, rgba(0, 0, 0, 0) 12.87129%, rgba(241, 90, 20, 0.2) 12.87129%, rgba(241, 90, 20, 0.2) 22.77228%, rgba(0, 0, 0, 0) 22.77228%, rgba(0, 0, 0, 0) 25.74257%, rgba(241, 90, 20, 0.2) 25.74257%, rgba(241, 90, 20, 0.2) 35.64356%, rgba(0, 0, 0, 0) 35.64356%, rgba(0, 0, 0, 0) 38.61386%, rgba(241, 90, 20, 0.2) 38.61386%, rgba(241, 90, 20, 0.2) 48.51485%, rgba(0, 0, 0, 0) 48.51485%, rgba(0, 0, 0, 0) 51.48515%, rgba(241, 90, 20, 0.2) 51.48515%, rgba(241, 90, 20, 0.2) 61.38614%, rgba(0, 0, 0, 0) 61.38614%, rgba(0, 0, 0, 0) 64.35644%, rgba(241, 90, 20, 0.2) 64.35644%, rgba(241, 90, 20, 0.2) 74.25743%, rgba(0, 0, 0, 0) 74.25743%, rgba(0, 0, 0, 0) 77.22772%, rgba(241, 90, 20, 0.2) 77.22772%, rgba(241, 90, 20, 0.2) 87.12871%, rgba(0, 0, 0, 0) 87.12871%, rgba(0, 0, 0, 0) 90.09901%, rgba(241, 90, 20, 0.2) 90.09901%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 9.90099%, rgba(0, 0, 0, 0) 9.90099%, rgba(0, 0, 0, 0) 12.87129%, rgba(241, 90, 20, 0.2) 12.87129%, rgba(241, 90, 20, 0.2) 22.77228%, rgba(0, 0, 0, 0) 22.77228%, rgba(0, 0, 0, 0) 25.74257%, rgba(241, 90, 20, 0.2) 25.74257%, rgba(241, 90, 20, 0.2) 35.64356%, rgba(0, 0, 0, 0) 35.64356%, rgba(0, 0, 0, 0) 38.61386%, rgba(241, 90, 20, 0.2) 38.61386%, rgba(241, 90, 20, 0.2) 48.51485%, rgba(0, 0, 0, 0) 48.51485%, rgba(0, 0, 0, 0) 51.48515%, rgba(241, 90, 20, 0.2) 51.48515%, rgba(241, 90, 20, 0.2) 61.38614%, rgba(0, 0, 0, 0) 61.38614%, rgba(0, 0, 0, 0) 64.35644%, rgba(241, 90, 20, 0.2) 64.35644%, rgba(241, 90, 20, 0.2) 74.25743%, rgba(0, 0, 0, 0) 74.25743%, rgba(0, 0, 0, 0) 77.22772%, rgba(241, 90, 20, 0.2) 77.22772%, rgba(241, 90, 20, 0.2) 87.12871%, rgba(0, 0, 0, 0) 87.12871%, rgba(0, 0, 0, 0) 90.09901%, rgba(241, 90, 20, 0.2) 90.09901%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 9.90099%, rgba(0, 0, 0, 0) 9.90099%, rgba(0, 0, 0, 0) 12.87129%, rgba(241, 90, 20, 0.2) 12.87129%, rgba(241, 90, 20, 0.2) 22.77228%, rgba(0, 0, 0, 0) 22.77228%, rgba(0, 0, 0, 0) 25.74257%, rgba(241, 90, 20, 0.2) 25.74257%, rgba(241, 90, 20, 0.2) 35.64356%, rgba(0, 0, 0, 0) 35.64356%, rgba(0, 0, 0, 0) 38.61386%, rgba(241, 90, 20, 0.2) 38.61386%, rgba(241, 90, 20, 0.2) 48.51485%, rgba(0, 0, 0, 0) 48.51485%, rgba(0, 0, 0, 0) 51.48515%, rgba(241, 90, 20, 0.2) 51.48515%, rgba(241, 90, 20, 0.2) 61.38614%, rgba(0, 0, 0, 0) 61.38614%, rgba(0, 0, 0, 0) 64.35644%, rgba(241, 90, 20, 0.2) 64.35644%, rgba(241, 90, 20, 0.2) 74.25743%, rgba(0, 0, 0, 0) 74.25743%, rgba(0, 0, 0, 0) 77.22772%, rgba(241, 90, 20, 0.2) 77.22772%, rgba(241, 90, 20, 0.2) 87.12871%, rgba(0, 0, 0, 0) 87.12871%, rgba(0, 0, 0, 0) 90.09901%, rgba(241, 90, 20, 0.2) 90.09901%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 9.90099%, rgba(0, 0, 0, 0) 9.90099%, rgba(0, 0, 0, 0) 12.87129%, rgba(241, 90, 20, 0.2) 12.87129%, rgba(241, 90, 20, 0.2) 22.77228%, rgba(0, 0, 0, 0) 22.77228%, rgba(0, 0, 0, 0) 25.74257%, rgba(241, 90, 20, 0.2) 25.74257%, rgba(241, 90, 20, 0.2) 35.64356%, rgba(0, 0, 0, 0) 35.64356%, rgba(0, 0, 0, 0) 38.61386%, rgba(241, 90, 20, 0.2) 38.61386%, rgba(241, 90, 20, 0.2) 48.51485%, rgba(0, 0, 0, 0) 48.51485%, rgba(0, 0, 0, 0) 51.48515%, rgba(241, 90, 20, 0.2) 51.48515%, rgba(241, 90, 20, 0.2) 61.38614%, rgba(0, 0, 0, 0) 61.38614%, rgba(0, 0, 0, 0) 64.35644%, rgba(241, 90, 20, 0.2) 64.35644%, rgba(241, 90, 20, 0.2) 74.25743%, rgba(0, 0, 0, 0) 74.25743%, rgba(0, 0, 0, 0) 77.22772%, rgba(241, 90, 20, 0.2) 77.22772%, rgba(241, 90, 20, 0.2) 87.12871%, rgba(0, 0, 0, 0) 87.12871%, rgba(0, 0, 0, 0) 90.09901%, rgba(241, 90, 20, 0.2) 90.09901%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-position: left top;
        -webkit-background-origin: content;
        -moz-background-origin: content;
        -ms-background-origin: content-box;
        -o-background-origin: content-box;
        background-origin: content-box;
        -webkit-background-clip: content-box;
        -moz-background-clip: content-box;
        background-clip: content-box; } }
    @media (min-width: 941px) {
      body:hover .page {
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(241, 90, 20, 0.2)), color-stop(6.53595%, rgba(241, 90, 20, 0.2)), color-stop(6.53595%, rgba(0, 0, 0, 0)), color-stop(8.49673%, rgba(0, 0, 0, 0)), color-stop(8.49673%, rgba(241, 90, 20, 0.2)), color-stop(15.03268%, rgba(241, 90, 20, 0.2)), color-stop(15.03268%, rgba(0, 0, 0, 0)), color-stop(16.99346%, rgba(0, 0, 0, 0)), color-stop(16.99346%, rgba(241, 90, 20, 0.2)), color-stop(23.52941%, rgba(241, 90, 20, 0.2)), color-stop(23.52941%, rgba(0, 0, 0, 0)), color-stop(25.4902%, rgba(0, 0, 0, 0)), color-stop(25.4902%, rgba(241, 90, 20, 0.2)), color-stop(32.02614%, rgba(241, 90, 20, 0.2)), color-stop(32.02614%, rgba(0, 0, 0, 0)), color-stop(33.98693%, rgba(0, 0, 0, 0)), color-stop(33.98693%, rgba(241, 90, 20, 0.2)), color-stop(40.52288%, rgba(241, 90, 20, 0.2)), color-stop(40.52288%, rgba(0, 0, 0, 0)), color-stop(42.48366%, rgba(0, 0, 0, 0)), color-stop(42.48366%, rgba(241, 90, 20, 0.2)), color-stop(49.01961%, rgba(241, 90, 20, 0.2)), color-stop(49.01961%, rgba(0, 0, 0, 0)), color-stop(50.98039%, rgba(0, 0, 0, 0)), color-stop(50.98039%, rgba(241, 90, 20, 0.2)), color-stop(57.51634%, rgba(241, 90, 20, 0.2)), color-stop(57.51634%, rgba(0, 0, 0, 0)), color-stop(59.47712%, rgba(0, 0, 0, 0)), color-stop(59.47712%, rgba(241, 90, 20, 0.2)), color-stop(66.01307%, rgba(241, 90, 20, 0.2)), color-stop(66.01307%, rgba(0, 0, 0, 0)), color-stop(67.97386%, rgba(0, 0, 0, 0)), color-stop(67.97386%, rgba(241, 90, 20, 0.2)), color-stop(74.5098%, rgba(241, 90, 20, 0.2)), color-stop(74.5098%, rgba(0, 0, 0, 0)), color-stop(76.47059%, rgba(0, 0, 0, 0)), color-stop(76.47059%, rgba(241, 90, 20, 0.2)), color-stop(83.00654%, rgba(241, 90, 20, 0.2)), color-stop(83.00654%, rgba(0, 0, 0, 0)), color-stop(84.96732%, rgba(0, 0, 0, 0)), color-stop(84.96732%, rgba(241, 90, 20, 0.2)), color-stop(91.50327%, rgba(241, 90, 20, 0.2)), color-stop(91.50327%, rgba(0, 0, 0, 0)), color-stop(93.46405%, rgba(0, 0, 0, 0)), color-stop(93.46405%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 6.53595%, rgba(0, 0, 0, 0) 6.53595%, rgba(0, 0, 0, 0) 8.49673%, rgba(241, 90, 20, 0.2) 8.49673%, rgba(241, 90, 20, 0.2) 15.03268%, rgba(0, 0, 0, 0) 15.03268%, rgba(0, 0, 0, 0) 16.99346%, rgba(241, 90, 20, 0.2) 16.99346%, rgba(241, 90, 20, 0.2) 23.52941%, rgba(0, 0, 0, 0) 23.52941%, rgba(0, 0, 0, 0) 25.4902%, rgba(241, 90, 20, 0.2) 25.4902%, rgba(241, 90, 20, 0.2) 32.02614%, rgba(0, 0, 0, 0) 32.02614%, rgba(0, 0, 0, 0) 33.98693%, rgba(241, 90, 20, 0.2) 33.98693%, rgba(241, 90, 20, 0.2) 40.52288%, rgba(0, 0, 0, 0) 40.52288%, rgba(0, 0, 0, 0) 42.48366%, rgba(241, 90, 20, 0.2) 42.48366%, rgba(241, 90, 20, 0.2) 49.01961%, rgba(0, 0, 0, 0) 49.01961%, rgba(0, 0, 0, 0) 50.98039%, rgba(241, 90, 20, 0.2) 50.98039%, rgba(241, 90, 20, 0.2) 57.51634%, rgba(0, 0, 0, 0) 57.51634%, rgba(0, 0, 0, 0) 59.47712%, rgba(241, 90, 20, 0.2) 59.47712%, rgba(241, 90, 20, 0.2) 66.01307%, rgba(0, 0, 0, 0) 66.01307%, rgba(0, 0, 0, 0) 67.97386%, rgba(241, 90, 20, 0.2) 67.97386%, rgba(241, 90, 20, 0.2) 74.5098%, rgba(0, 0, 0, 0) 74.5098%, rgba(0, 0, 0, 0) 76.47059%, rgba(241, 90, 20, 0.2) 76.47059%, rgba(241, 90, 20, 0.2) 83.00654%, rgba(0, 0, 0, 0) 83.00654%, rgba(0, 0, 0, 0) 84.96732%, rgba(241, 90, 20, 0.2) 84.96732%, rgba(241, 90, 20, 0.2) 91.50327%, rgba(0, 0, 0, 0) 91.50327%, rgba(0, 0, 0, 0) 93.46405%, rgba(241, 90, 20, 0.2) 93.46405%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 6.53595%, rgba(0, 0, 0, 0) 6.53595%, rgba(0, 0, 0, 0) 8.49673%, rgba(241, 90, 20, 0.2) 8.49673%, rgba(241, 90, 20, 0.2) 15.03268%, rgba(0, 0, 0, 0) 15.03268%, rgba(0, 0, 0, 0) 16.99346%, rgba(241, 90, 20, 0.2) 16.99346%, rgba(241, 90, 20, 0.2) 23.52941%, rgba(0, 0, 0, 0) 23.52941%, rgba(0, 0, 0, 0) 25.4902%, rgba(241, 90, 20, 0.2) 25.4902%, rgba(241, 90, 20, 0.2) 32.02614%, rgba(0, 0, 0, 0) 32.02614%, rgba(0, 0, 0, 0) 33.98693%, rgba(241, 90, 20, 0.2) 33.98693%, rgba(241, 90, 20, 0.2) 40.52288%, rgba(0, 0, 0, 0) 40.52288%, rgba(0, 0, 0, 0) 42.48366%, rgba(241, 90, 20, 0.2) 42.48366%, rgba(241, 90, 20, 0.2) 49.01961%, rgba(0, 0, 0, 0) 49.01961%, rgba(0, 0, 0, 0) 50.98039%, rgba(241, 90, 20, 0.2) 50.98039%, rgba(241, 90, 20, 0.2) 57.51634%, rgba(0, 0, 0, 0) 57.51634%, rgba(0, 0, 0, 0) 59.47712%, rgba(241, 90, 20, 0.2) 59.47712%, rgba(241, 90, 20, 0.2) 66.01307%, rgba(0, 0, 0, 0) 66.01307%, rgba(0, 0, 0, 0) 67.97386%, rgba(241, 90, 20, 0.2) 67.97386%, rgba(241, 90, 20, 0.2) 74.5098%, rgba(0, 0, 0, 0) 74.5098%, rgba(0, 0, 0, 0) 76.47059%, rgba(241, 90, 20, 0.2) 76.47059%, rgba(241, 90, 20, 0.2) 83.00654%, rgba(0, 0, 0, 0) 83.00654%, rgba(0, 0, 0, 0) 84.96732%, rgba(241, 90, 20, 0.2) 84.96732%, rgba(241, 90, 20, 0.2) 91.50327%, rgba(0, 0, 0, 0) 91.50327%, rgba(0, 0, 0, 0) 93.46405%, rgba(241, 90, 20, 0.2) 93.46405%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 6.53595%, rgba(0, 0, 0, 0) 6.53595%, rgba(0, 0, 0, 0) 8.49673%, rgba(241, 90, 20, 0.2) 8.49673%, rgba(241, 90, 20, 0.2) 15.03268%, rgba(0, 0, 0, 0) 15.03268%, rgba(0, 0, 0, 0) 16.99346%, rgba(241, 90, 20, 0.2) 16.99346%, rgba(241, 90, 20, 0.2) 23.52941%, rgba(0, 0, 0, 0) 23.52941%, rgba(0, 0, 0, 0) 25.4902%, rgba(241, 90, 20, 0.2) 25.4902%, rgba(241, 90, 20, 0.2) 32.02614%, rgba(0, 0, 0, 0) 32.02614%, rgba(0, 0, 0, 0) 33.98693%, rgba(241, 90, 20, 0.2) 33.98693%, rgba(241, 90, 20, 0.2) 40.52288%, rgba(0, 0, 0, 0) 40.52288%, rgba(0, 0, 0, 0) 42.48366%, rgba(241, 90, 20, 0.2) 42.48366%, rgba(241, 90, 20, 0.2) 49.01961%, rgba(0, 0, 0, 0) 49.01961%, rgba(0, 0, 0, 0) 50.98039%, rgba(241, 90, 20, 0.2) 50.98039%, rgba(241, 90, 20, 0.2) 57.51634%, rgba(0, 0, 0, 0) 57.51634%, rgba(0, 0, 0, 0) 59.47712%, rgba(241, 90, 20, 0.2) 59.47712%, rgba(241, 90, 20, 0.2) 66.01307%, rgba(0, 0, 0, 0) 66.01307%, rgba(0, 0, 0, 0) 67.97386%, rgba(241, 90, 20, 0.2) 67.97386%, rgba(241, 90, 20, 0.2) 74.5098%, rgba(0, 0, 0, 0) 74.5098%, rgba(0, 0, 0, 0) 76.47059%, rgba(241, 90, 20, 0.2) 76.47059%, rgba(241, 90, 20, 0.2) 83.00654%, rgba(0, 0, 0, 0) 83.00654%, rgba(0, 0, 0, 0) 84.96732%, rgba(241, 90, 20, 0.2) 84.96732%, rgba(241, 90, 20, 0.2) 91.50327%, rgba(0, 0, 0, 0) 91.50327%, rgba(0, 0, 0, 0) 93.46405%, rgba(241, 90, 20, 0.2) 93.46405%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 6.53595%, rgba(0, 0, 0, 0) 6.53595%, rgba(0, 0, 0, 0) 8.49673%, rgba(241, 90, 20, 0.2) 8.49673%, rgba(241, 90, 20, 0.2) 15.03268%, rgba(0, 0, 0, 0) 15.03268%, rgba(0, 0, 0, 0) 16.99346%, rgba(241, 90, 20, 0.2) 16.99346%, rgba(241, 90, 20, 0.2) 23.52941%, rgba(0, 0, 0, 0) 23.52941%, rgba(0, 0, 0, 0) 25.4902%, rgba(241, 90, 20, 0.2) 25.4902%, rgba(241, 90, 20, 0.2) 32.02614%, rgba(0, 0, 0, 0) 32.02614%, rgba(0, 0, 0, 0) 33.98693%, rgba(241, 90, 20, 0.2) 33.98693%, rgba(241, 90, 20, 0.2) 40.52288%, rgba(0, 0, 0, 0) 40.52288%, rgba(0, 0, 0, 0) 42.48366%, rgba(241, 90, 20, 0.2) 42.48366%, rgba(241, 90, 20, 0.2) 49.01961%, rgba(0, 0, 0, 0) 49.01961%, rgba(0, 0, 0, 0) 50.98039%, rgba(241, 90, 20, 0.2) 50.98039%, rgba(241, 90, 20, 0.2) 57.51634%, rgba(0, 0, 0, 0) 57.51634%, rgba(0, 0, 0, 0) 59.47712%, rgba(241, 90, 20, 0.2) 59.47712%, rgba(241, 90, 20, 0.2) 66.01307%, rgba(0, 0, 0, 0) 66.01307%, rgba(0, 0, 0, 0) 67.97386%, rgba(241, 90, 20, 0.2) 67.97386%, rgba(241, 90, 20, 0.2) 74.5098%, rgba(0, 0, 0, 0) 74.5098%, rgba(0, 0, 0, 0) 76.47059%, rgba(241, 90, 20, 0.2) 76.47059%, rgba(241, 90, 20, 0.2) 83.00654%, rgba(0, 0, 0, 0) 83.00654%, rgba(0, 0, 0, 0) 84.96732%, rgba(241, 90, 20, 0.2) 84.96732%, rgba(241, 90, 20, 0.2) 91.50327%, rgba(0, 0, 0, 0) 91.50327%, rgba(0, 0, 0, 0) 93.46405%, rgba(241, 90, 20, 0.2) 93.46405%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-position: left top;
        -webkit-background-origin: content;
        -moz-background-origin: content;
        -ms-background-origin: content-box;
        -o-background-origin: content-box;
        background-origin: content-box;
        -webkit-background-clip: content-box;
        -moz-background-clip: content-box;
        background-clip: content-box; } }
